<nav class="navbar navbar-expand-lg custom-navbar px-3">
  <a class="navbar-brand d-flex align-items-center" routerLink="/dashboard">
    <div class="logo-bg me-2"></div>
    <strong>Travel Planner</strong>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <b><a class="nav-link" routerLink="/trip-form">Create Trip</a></b>
      </li>
    </ul>

    <div class="d-flex">
      <button class="btn btn-outline-success" routerLink="/login">Login</button>
    </div>
  </div>
</nav>

<div class="container my-4">
  <h2 class="success-text fw-bold">My Trips</h2>

  <div *ngIf="trips.length === 0">No trips added yet.</div>

  <div *ngFor="let trip of trips" class="card my-2">
    <div class="card-body">
      <h5 class="card-title">{{ trip.title }}</h5>
      <p class="card-text">Destination: {{ trip.destination }}</p>
      <p class="card-text">Travel Dates: {{ trip.startDate }} to {{ trip.endDate }}</p>
      <p class="card-text">Budget: ₹{{ trip.budget }}</p>
      <p class="card-text">Mode: {{ trip.travelMode }}</p>
      <p class="card-text">Notes: {{ trip.notes }}</p>
      <button class="btn btn-sm btn-warning me-2" (click)="editTrip(trip)">Edit</button>
    </div>
  </div>
</div>


  